

/*----------------------------------------------global--------------------------------------------*/


* {

	padding: 0;
	margin: 0;
	box-sizing: border-box;


}

/*permite el scroll en el menu*/
html{

	scroll-behavior: smooth;

}

/*defino solamente que tipo de letra usare*/
body{

	/*background: #292929;*/
	font-family: 'calibri';

}






